body {
    background-color: steelblue;
    background-image: url("../images/GOTBackground.jpg");
    background-repeat: no-repeat;
    color: whitesmoke;
    background-size: cover;
}

h1 {
    color: paleturquoise;
}

#correctAnswer {
    color: blue;
    
    
}

#correctAnswer img {
    width: 200px;
    height: 200px;

}

/* .buttonDiv {

} */

.choice {
    color: powderblue;
    padding: 2px;
    background-color: black;
    

}