body {
    background-color: steelblue;
    background-image: url("../images/GOTBackground.jpg");
    background-repeat: no-repeat;
    color: whitesmoke;
    background-size: cover;
}

#heading {
    color: paleturquoise;
    border-bottom-width: 1px;;
    border-bottom-color: black;
    
    
}


.scoreBox {
    color: black;
    
    
}
#startRow {
    text-align: center;
}

#correctAnswer img {
    width: 200px;
    height: 200px;
    color: blue;

}

#gameWrapper {
    text-align: center;
}

/* .buttonDiv {

} */

.choice {
    color: powderblue;
    padding: 5px;
    margin: 10px;
    background-color: black;
}

.card { 
    background-color: rgba(245, 245, 245, 0.4);
}